fontSm = 12px
fontMd = 20px
fontBig = 30px
positionCenter(){
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

}
div
    box-sizing border-box
body, html
    margin 0
    height 100%
    font-family PingFangSC-Medium, SimHei, Microsoft YaHei
    color #fff
    user-select none
p, img
    margin 0
img
    outline none
    user-select none
    -webkit-user-drag none
.clear-fix
    clear both
body .el-scrollbar__wrap{
    overflow-x: hidden;    
}
.v-modal{
    opacity: 0!important;
}
.el-dropdown-menu
    .el-dropdown-menu__item:not(.is-disabled):hover
        color black
    .el-dropdown-menu__item
        cursor default
